<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Image Details</title>
	</head>
	<body>
		<h1><b>480Chan - Image Board!<b></h1>
			<br>
      <h2>Modifying...{{post.title}}</h2>
			<br>
      <form method="POST" action="/delete/{{post._id}}">
        {{#each post.images}}
        <br>
        <input type="checkbox" name="id" value="{{this._id}}" />
        <span>{{this.caption}}</span>
        <br/>
        <img src = "{{this.url}}" alt = "">
        {{/each}}
        <br>
        <br>
        <button type = "Submit">Submit</button>
      </form>
      <br>
      <br>
      <form method = "POST" action = "/add/image/{{post.slug}}">
        Image URL: <input type = "text" name = "url"/>
        Caption: <input type = "text" name = "caption"/>

        <button type = "Submit">Add Another</button>
      </form>

	</body>
</html>
